@font-face {
        font-family: Righteous;
        src: url("./font/Righteous-Regular.ttf");
}

*{
        margin : 0;
        padding : 0 ;
        box-sizing : border-box;
}


body{
        background-image: url("./img/worst_memories-wallpaper-2048x1152.jpg");
        background-position: center;
        background-size: auto;
        font-family : Righteous;

}

main{
        width : 50vw;
        height : 50vh;
        margin-top: 20vh;
        border-radius: 10px;
        background-color : rgba(141, 141, 141, 0.411);
        
}

h2{
        cursor : pointer;
        height : 2.8rem;
        border-radius: 10px;
        background-color: rgba(255, 189, 66, 0.692);
        transition: background-color .333s ease-in-out;
}
h2:hover{
        
        background-color: rgb(209, 138, 6);
}

.top{
        border-radius: 10px;
        font-size: 3rem;
        
}